@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
}
body{
    direction: rtl;
    font-family: "Sahel";
}
.navbar-nav.ms-auto.py-4.py-lg-0 {
    font-size: 20;
    margin-left: initial !important;
    margin-right: auto;
}
p.post-meta {
    text-align: center;
}
