{% extends 'base/base.html' %}
{% block title %} دسته بندی | {{category.title}} {% endblock title %}
{% block header_pic %} {{ category.photo.url }} {% endblock header_pic %}
{% block header_title %} {{category.title}} {% endblock header_title %}
{% block header_text %} مقالات دسته بندی {{category.title}}  {% endblock header_text %}

{% block content %}
    <!-- Main Content -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <!-- articles -->
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for article in articles %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'blog:article_detail' article.slug %}">
                            <img src="{{article.thumbnail.url}}" alt="{{article.title}}" class="img-thumbnail">
                            <h2 class="post-title">{{article.title}}</h2>
                            <h3 class="post-subtitle">{{article.description|truncatewords:20}}</h3>
                        </a>
                        <p class="post-meta">
                            نوشته شده توسط 
                            <a href="{% url 'blog:author_articles' article.author %}">{{article.author}}</a>
                        </p>
                        <p class="post-meta">
                            {{article.jalali_created}}
                        </p>
                            
                        <p>{% for cat in article.category_public %}<a href="{% url 'blog:category' cat.slug %}" class="category_link" >#{{cat.title}} </a>{% endfor %}</p>
                    </div>
                    <hr class="my-4" />
                {% endfor %}
            </div>
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4">
                {% if page_obj.has_next %}<a class="next_button_pagination btn btn-primary text-uppercase" href="{% url 'blog:category' category.slug page_obj.next_page_number %}">پست های قدیمی &rarr;</a>{% endif %} 
                {% if page_obj.has_previous %}<a class="btn btn-primary text-uppercase" href="{% url 'blog:category' category.slug  page_obj.previous_page_number %}">پست های جدید &larr;</a>{% endif %}
            </div>
        </div>
    </div>
{% endblock content %}